* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    }
a {
    text-decoration: none;
    color: inherit;
    }
img {
    vertical-align: top;
    border: 0;
    outline: 0;
    }
em {
    font-style: normal;
    }
li,ol,ul {
    list-style:none;
    }
table {
    border-collapse: collapse;
    }
///////////////////////////
    body {
        height: 26500px;
        // height: 65000px;
    }

    .menus {
        position: fixed;
        display: flex;
        font-size: 2.5vh;
        z-index: 100;
        color: white;
        li {
            margin: 0 4vh;
            cursor: pointer;
        }
    }
    .topM {
        top: 2vh;
    }
    .prod_more {
        left: 20vw;
    }
    .lang {
        left: 75vw;
    }
    .shop {
        left: 90vw;
        padding: 1vh;
        top: 1vh;
        border-radius: 50px;
        background: white;
        color: black;
    }
    .botM {
        top: 92vh;
    }
    .sns {
        transition: .5s;
    }
    .rotateLogo {
        top: 65vh;
        right: 0;
        margin-right: 2vw;
        // border: solid 2px red;
        transform: rotate(45deg);
        transition: .5s;
        img {
            width: 30vh; height: 30vh;
    }
}
#fixedWrap {
    width: 100%; height: 100vh;
    // border: solid 2px blue;
    overflow: hidden;
    position: absolute;
    display: flex;
    .sec1 {
        position: fixed;
        width: 100%; height: 100%;
        #videoSlide {
            // border :solid 2px yellow;
            display: flex;
            position: absolute;
            align-items: center;
            width: auto;
            top: 20vh;
            margin-left: 2vw;
            #videoSlideBox {
                width: 20vh; height: 1vh;
                background: rgba(255, 255, 255, 0.514);
                #videoSlideNow {
                    width: 50%; height: 100%;
                    background: white;
                }
            }
            #VideoArrow {
                // border: solid 2px blue;
                display: flex;
                margin-left: 2vh;
                width: 6vh;
                justify-content: space-between;
                .next {
                    transform: rotate(180deg);
                }
            }
        }
        video {
            position: absolute;
            // top: 50%; 
            // left: 50%;
            // -webkit-transform: translateX(-50%) translateY(-50%);
            // transform: translateX(-50%) translateY(-50%);
            transform: translateY(0%) translateX(0%);
            min-width: 100%; 
            min-height: 100%; 
            width: auto; 
            height: auto;
            z-index: -1000; 
            overflow: hidden;
        }
        .video2 {
            opacity: 0;
            transition: .5s;
        }
        .mainContent {
            position: absolute;
            // border: solid 2px red;
            margin-left: 2vw;
            color: white;
            margin-top: 23vh;
            width: 50vw;
            z-index: 1000;
            transition: .5s ease-out;
           .logo {
               font-size: 15vh;
               line-height: 14vh;
               font-weight: lighter;
           }
           .mainBla {
               margin-top: 5vh;
               font-size: 2.5vh;
           }
           .viewMore {
               margin-top: 5vh;
               display: flex;
               align-items: center;
               font-size: 2.5vh;
               img {
                   margin-left: 5vh;
               }
           }
        }
        .mainContent2 {
            opacity: 0;
        }
    }

}
#scrollWrap {
    overflow: hidden;
    position: fixed;
    height: 100%;
    // left: -100vw; //얘 이동
    transition:.3s;
    // border: solid 2px red;
    width: 2380vh;
    left: 110vw;
    .sec2 {
        background:yellow;
        position: absolute;
        background: rgb(32,32,32);
        width: 360vh; height: 100vh;
        display: flex;
        #flowerTypo {
            position: absolute;
            left: 10vw;
            top: 20vh;
            z-index: 3;
            // img:nth-child(1) {
            //     border: solid 2px red;
            // }
            img {
                width: 50vw;
                // border: solid 2px red;
            }
            img:nth-child(2) {
                left: -0%;
                position: absolute;
            }
        }
        #model {
            position: absolute;
            left: 48vw;
            width: 70vh;
            height: 90vh;
            // border: solid 2px red;
            background-image:url('../img/main-flower.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            transition: 1.5s;
        }
        .content {
            color: rgb(182, 182, 182);
            position: absolute;
            left: 190vh;
            font-size: 2.5vh;
            top: 25vh;
            .logo {
                font-size: 10vh;
                font-weight: 100;
                margin: 2vh 0;
                color: white;
                position: absolute;
                top : 30%;
                opacity: 0;
                transition: 1s;
            }
            .blabla {
                line-height: 5vh;
                margin-top: 20vh;
            }
            .contentBT {
                margin-top: 5vh;
                img {
                    margin-left: 5vh;
                }
            }
        }
    }
    .sec3 {
        background: white;
        width: 480vh;
        height: 100vh;
        position: absolute;
        left: 350vh;
        #sec3typo {
            display: flex;
            position: absolute;
            top: 5vh; left: 20vw;
            z-index: 100;
            img {
                position: absolute;
                width: 150vh;
            }
        }
        .productAD {
            height: 90vh;
            width: 130vh;
            // border: solid 2px blue;
            position: absolute;
            left: 170vh;
            top: -10%;
            background-image: url('../img/main-02.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: .5s;
        }
        .content {
            left: 320vh;
            color:rgb(122, 122, 122);
            .logo {
                color: rgb(34, 34, 34);
                transition: 1s;
            }
            .project {
                color: rgb(214, 208, 156);
            }
        }
        #hyaProd {
            // border :solid 2px blue;
            width: 120vh; height: 100vh;
            left: 420vh;
            position: absolute;
            background-image: url('../img/main-2.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            top: 50%;
            transition: .5s;
            z-index: 100;
        }
    }
    .sec4 {
        background:rgb(32, 32, 32);
        position: absolute;
        left: 830vh;
        width: 400vh; height: 100vh;
        .content {
            position: absolute;
            // border: solid 2px red;
            left: 80vh;
            .project {
                color:rgb(125, 204, 194)
            }
        }
        .products {
            // border: solid 2px blue;
            display: flex;
            position: absolute;
            left: 180vh;
            top: 20vh;
            width: 130vh;
            justify-content: space-between;
            height: 70vh;
            // border: solid 2px red;
            li {
                // border: solid 2px burlywood;;
                width: 30vh;
                height: 60vh;
                text-align: center;
                font-size: 2.3vh;
                position: absolute;
                // border: solid 2px blue;
                transition: 1s;
                top: 20%;
                &:nth-child(2) {
                    left: 40vh;
                }
                &:nth-child(3) {
                    left: 80vh;
                }
                .productIMG {
                    height:70%;
                    width: 100%;
                    // border: solid 2px blue;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                .productCont {
                    height: 30%;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    flex-direction: column;
                    margin-top: 2vh;
                    color: white;
                    .productName {
                        font-weight: 700;
                        margin-bottom: 1vh;
                    }
                    .price {
                        color:rgb(179, 179, 179);
                    }
                }
                &:nth-child(1) .productIMG {
                    background-image: url('../img/toner.png');

                }
                &:nth-child(2) .productIMG{
                    background-image: url('../img/ampoule.png');
                }
                &:nth-child(3) .productIMG{
                    background-image: url('../img/cream.png');
                }
            }
        }
        .productAD {
            left: 350vh;
            height: 80vh;
            width: 100vh;
            z-index :100;
        }
    }
    .sec5 {
        background: rgb(248, 248, 248);
        left: 1230vh; 
        width: 400vh;
        // border: solid 2px blue;
        height: 100%;
        .content {
            left: 70vh;
            .logo {
                color:rgb(32, 32, 32);
            }
        }
        .products {
            li {
                &:nth-child(1) .productIMG{
                    background-image: url('../img/soothing-ampoule.png');
                }
                &:nth-child(2) .productIMG{
                    background-image: url('../img/cream-50ml.png');
                }
                &:nth-child(3) .productIMG{
                    background-image: url('../img/sleeping-cream.png');
                }
            }
        }
        .productAD {
            // border: solid 2px blue;
            background-image: url('../img/main-05.jpg');
            left: 330vh;
            height: 90vh;
            z-index: 100;
        }
    }
    .sec6 {
        background: white;
        height: 100vh;
        left: 1630vh;
        width: 750vh;
        .content {
            left: 80vh;
            .project {
                color: rgb(190, 185, 139);
            }
            .logo {
                color: black;
            }
        }
        .justIMG1 {
            position: absolute;
            left: 180vh;
            width: 45vh; height: 55vh;
            top: 20vh;
            background-image: url('../img/main-06.jpg');
            z-index: 99;
        }
        .justIMG2 {
            position: absolute;
            top: 10vh;
            left: 245vh;
            width: 80vh;
            height: 60vh;
            background-image: url('../img/main-07.jpg');
        }
        .quicks {
            position: absolute;
            // 원래25vh
            // border: solid 2px blue;
            display: flex;
            width: 180vh;
            height: 50vh;
            // opacity: 0;
            li {
                width: 30vh; height: 100%;
                position: absolute;
                cursor: pointer;
                p {
                    position: absolute;
                    transform: translate(-50%,50%);
                    top: 25%; left: 50%;
                    font-size: 8vh;
                    white-space:nowrap;
                    font-weight: 100;
                }
            }
            li:nth-child(2) {
                left: 50vh;
            }
            li:nth-child(3) {
                left: 100vh;
            }
        }
        .quickHover {
            // border: solid 2px yellow;
            z-index: 3;
            li {
                z-index:4;
                overflow: hidden;
                color : white;
                opacity: 0;
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                transition: .5s;
            }
            li:nth-child(1) {
                background-image: url('../img/quick-allproduct.jpg');
            }
            li:nth-child(2) {
                background-image: url('../img/quick-hyabalane.jpg');
            }
            li:nth-child(3) {
                background-image: url('../img/quick-deephydra-b5.jpg');
            }
        }
        .quickNormal {
            // border: solid 2px red;
            z-index: 3;
            li {
                z-index:3;
                // border: solid 2px red;
                // transition: .5s;
            }
        }
        .quickBehind {
            z-index:0;
            li {
                opacity: 0;
                // transition: .5s;
            }
        }
    }
    #myContent {
        position: absolute;
        left: 600vh;
        // top: 40vh;
        top: 60vh;
        color: rgb(116, 116, 116);
        text-align: center;
        opacity : 0;
        transition: .5s;
        font-size: 2.5vh;
    }
    #goFirst {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 700vh;
        top: 45vh;
        font-size: 2.5vh;
        cursor: pointer;
        // border: solid 2px blue;
        span {
            margin-left: 1vh;
        }
    }
}

.logo, .qBlack, .qHover {
    font-family: 'STIX Two Text', serif;
}

.qBlack, .qHover {
    font-weight: 100;
}

.content {
    color: rgb(182, 182, 182);
    position: absolute;
    left: 100vw;
    font-size: 2.5vh;
    top: 25vh;
    .logo {
        font-size: 10vh;
        font-weight: 100;
        margin: 2vh 0;
        color: white;
        position: absolute;
        top : 30%;
        opacity: 0;
        transition: 1s;
    }
    .blabla {
        line-height: 5vh;
        margin-top: 20vh;
    }
    .contentBT {
        margin-top: 5vh;
        img {
            margin-left: 5vh;
        }
    }
}

.topM {
    transition : .5s;
}

.productAD {
    height: 90vh;
    width: 130vh;
    // border: solid 2px blue;
    position: absolute;
    background-image: url('../img/main-04.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
}

section {
    position: absolute;
    height: 100vh;
}

.products {
    // border: solid 2px blue;
    display: flex;
    position: absolute;
    left: 180vh;
    top: 20vh;
    width: 130vh;
    justify-content: space-between;
    height: 70vh;
    // border: solid 2px red;
    li {
        // border: solid 2px burlywood;;
        width: 30vh;
        height: 60vh;
        text-align: center;
        font-size: 2.3vh;
        position: absolute;
        // border: solid 2px blue;
        transition: 1s;
        top: 20%;
        &:nth-child(2) {
            left: 40vh;
        }
        &:nth-child(3) {
            left: 80vh;
        }
        .productIMG {
            height:70%;
            width: 100%;
            // border: solid 2px blue;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .productCont {
            height: 30%;
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            margin-top: 2vh;
            color: black;
            .productName {
                font-weight: 700;
                margin-bottom: 1vh;
            }
            .price {
                color:rgb(179, 179, 179);
            }
        }
    }
}

.justIMG {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
}

#quickBox {
    position: absolute;
    // border: solid 2px blue;
    width: auto; height: auto;
    // top: -20vh;
    left: 400vh;
    top: 40vh;
    opacity: 0;
    transition:.5s;
}

#now {
    width: 100%; height: 1vh;
    position: fixed;
    bottom: 0;
    background: rgb(214, 214, 214);
    z-index: 9999;
    .nowBar {
        width:10%; height: 1vh;
        position: absolute;
        top:0;
        left: 0%;
        background: rgb(85, 85, 85);
        z-index: 10000;
        border-radius: 50px;
        transition:.5s;
    }
}